body {
  font-family: 'Pangolin', cursive;
  background-image: url(/assets/vintage-1659117_1920.jpg);  
}
.header {
  text-align: center;
  
}

h1 {
  font-size: 50px;
  color: #a52a2a;
}
.logo {
  padding-top: 20px;
}